@using SisºFut_SistemaOrganizacionalJogosdeFutsal.Enums
@model AlterarSenhaModel
@{
    ViewData["Title"] = "Alterar Senha Usuario";
}


<div class="text-center" style="font-family: Courier, monospace;">
    <h2 class="display-4">Alterar senha do usuário</h2>
</div>




@if (TempData["MensagemSucesso"] != null)
{
    <div class="alert alert-success" role="alert">
        <button type="button" class="btn btn-danger btn-sm close-alert" data-bs-dismiss="alert" aria-label="Close">X</button>
        @TempData["MensagemSucesso"]
    </div>
}

@if (TempData["MensagemErro"] != null)
{
    <div class="alert alert-danger" role="alert">
        <button type="button" class="btn btn-danger btn-sm close-alert" data-bs-dismiss="alert" aria-label="Close">X</button>
        @TempData["MensagemErro"]
    </div>
}

<form asp-controller="AlterarSenha" asp-action="Alterar" method="post">
    <div class="col-sm-12 col-md-4 col-md-offset-4" style="border: 2px solid #ccc; padding: 20px; margin: auto; border-radius: 10px; margin-top: 30px" >
        <div class="form-group">
            <label for="senhaAtual" class="form-label">Senha Atual</label>
            <input type="password" asp-for="SenhaAtual" class="form-control" placeholder="Digite a senha atual do usuário">
            @Html.ValidationMessageFor(x => x.SenhaAtual)
        </div>

        <div class="form-group">
            <label for="novaSenha" class="form-label">Nova Senha</label>
            <input type="password" asp-for="NovaSenha" class="form-control" placeholder="Digite a nova senha do usuário">
            @Html.ValidationMessageFor(x => x.NovaSenha)
        </div>

        <div class="form-group">
            <label for="confirmarSenha" class="form-label">Confirmar Nova Senha</label>
            <input type="password" asp-for="ConfirmarNovaSenha" class="form-control" placeholder="Confirme a nova senha do usuário.">
            @Html.ValidationMessageFor(x => x.ConfirmarNovaSenha)
        </div>

        <button type="submit" class="btn btn-primary btn-block">Alterar</button>
        <a class="btn btn-secondary btn-block" asp-action="Index" asp-controller="MeuPerfil" role="button">Voltar</a>
    </div>
</form>
