@model AgendamentosModel


@if (TempData["MensagemErro"] != null)
{
    <div class="alert alert-danger" role="alert">
        <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
        @TempData["MensagemErro"]
    </div>
}


@if (Model.Agendar.idTime1 == Model.UsuarioId)
{
    <div class="text-center" style="font-family: Courier, monospace;">
        <h1 class="display-4"> Editar Jogo Marcado </h1>
        <hr style="border: 2px solid cyan; width: 50%; margin: auto;">
    </div>
} else
{
    <div class="text-center" style="font-family: Courier, monospace;">
        <h1 class="display-4"> Jogo Marcado </h1>
        <hr style="border: 2px solid cyan; width: 50%; margin: auto;">
    </div>
}



<form asp-controller="Home" asp-action="JogoMarcado" method="post">
    <div class="col-sm-12 col-md-8 col-md-offset-2"
    style="border: 2px solid #ccc; padding: 20px; margin: auto; border-radius: 10px; margin-top:20px; max-width: 800px;">

        <!-- Times -->
        <div style="display: flex; flex-wrap: wrap; justify-content: space-between; align-items: center; margin-bottom: 20px;">
            <!-- Time 1 -->

            <div class="col-md-5" style="flex: 1 1 200px; margin-bottom: 15px;">

                <div class="text-center text-md-start" style="flex: 0 0 auto;">
                    @* <img src="https://yt3.googleusercontent.com/9ubNXtsrqMzRa1osrojGmiYQOStjWRXja9kUqQPWPG4oJGmO2eKY2TFTka6ZcYuBSilE4WBStQ=s900-c-k-c0x00ffffff-no-rj"
                         class="rounded-circle img-fluid"
                         style="width: 100px; height: 100px; object-fit: cover; max-width: 100%;"
                         alt="Logo do Time"> *@

                    <img src="data:image/*;base64,@Model.Agendar.FotoTime1"
                    class="rounded-circle img-fluid"
                    style="width: 100px; height: 100px; object-fit: cover; max-width: 100%;" />



                </div>

                <label for="login" class="form-label">Time 1</label>
                @Html.TextBoxFor(model => model.Agendar.Time1, new { @readonly = "readonly", @class = "form-control" })
                @*  @Html.HiddenFor(model => model.id_Time1) *@

            </div>

            <!-- X no meio -->
            <div class="col-md-2 text-center" style="margin: 15px 0;">
                <label style="font-size: 1.5rem;">X</label>
            </div>

            <!-- Time 2 -->
            <div class="col-md-5" style="flex: 1 1 200px; margin-bottom: 15px;">

                <div class="text-center text-md-start" style="flex: 0 0 auto;">
                    @* <img src="https://yt3.googleusercontent.com/9ubNXtsrqMzRa1osrojGmiYQOStjWRXja9kUqQPWPG4oJGmO2eKY2TFTka6ZcYuBSilE4WBStQ=s900-c-k-c0x00ffffff-no-rj"
                         class="rounded-circle img-fluid"
                         style="width: 100px; height: 100px; object-fit: cover; max-width: 100%;"
                         alt="Logo do Time"> *@

                    <img src="data:image/*;base64,@Model.Agendar.FotoTime2"
                    class="rounded-circle img-fluid"
                    style="width: 100px; height: 100px; object-fit: cover; max-width: 100%;" />



                </div>

                <label for="login" class="form-label">Time 2</label>
                @Html.TextBoxFor(model => model.Agendar.Time2, new { @readonly = "readonly", @class = "form-control" })
                @*  @Html.HiddenFor(model => model.id_Time1) *@

            </div>
        </div>

        <!-- Data -->
        <div class="row" style="margin-bottom: 20px;">
            <div class="col-md-12">
                <label for="data" class="form-label">Selecione a Data</label>
                @*  <input type="date" class="form-control" id="data" name="data"> *@
                @if (Model.Agendar.idTime1 == Model.UsuarioId)
                {
                    @Html.TextBox("Agendar.Data", Model.Agendar.Data.ToString("yyyy-MM-dd"), new
                        {
                            @class = "form-control",
                            @type = "date"
                        })


                    @Html.TextBoxFor(model => model.Agendar.Hora, new { @class = "form-control", @type = "time" })

                }else
                {
                    @Html.TextBoxFor(model => model.Agendar.Data, new { @readonly = "readonly", @class = "form-control" })
                    @Html.TextBoxFor(model => model.Agendar.Hora, new { @readonly = "readonly", @class = "form-control"})
                }
            </div>
        </div>

        <!-- Local -->
        <div class="row" style="margin-bottom: 20px;">
            <div class="col-md-12">
                <label for="login" class="form-label">Local do Jogo</label>
                @if (Model.Agendar.idTime1 == Model.UsuarioId)
                {
                    @Html.TextBoxFor(model => model.Agendar.Local, new { @class = "form-control" })

                }else{
                    @Html.TextBoxFor(model => model.Agendar.Local, new { @readonly = "readonly", @class = "form-control" })
                }
                @*@Html.HiddenFor(model => model.id_Quadra) *@
            </div>
        </div>

        <!-- Descrição -->
        <div class="row" style="margin-bottom: 25px;">
            <div class="col-md-12">
                @if (Model.Agendar.idTime1 == Model.UsuarioId)
                {
                @Html.TextBoxFor(model => model.Agendar.DS_Descrição, new { @class = "form-control" })
                    
                }else{
                    @Html.TextBoxFor(model => model.Agendar.DS_Descrição, new { @readonly = "readonly", @class = "form-control" })
                }
            </div>
        </div>

        <!-- Botões -->
        <div class="row mt-3">
            <div class="col-md-12 text-right">
                @if (Model.Agendar.idTime1 == Model.UsuarioId)
                {
                    <button type="submit" class="btn btn-primary mr-2">Editar</button>
                }

                <a class="btn btn-secondary" asp-action="Index" asp-controller="Home" role="button">Voltar</a>
            </div>
        </div>



    </div>
</form>