@model X.PagedList.IPagedList<ContatoModel>

<div class="table-responsive">
    <table class="table table-striped table-hover align-middle">
        <thead class="table-light">
            <tr>
                <th scope="col">NOME DO TIME</th>
                <th scope="col">CELULAR</th>
                <th scope="col">E-MAIL</th>
                <th scope="col">CATEGORIA</th>
                <th scope="col" class="text-end">
                    <a asp-controller="Contato" asp-action="Criar"
                       class="btn btn-sm rounded-pill py-1 text-center btn-custom text-nowrap"
                       style="padding: 4px 10px;">
                        Adicionar
                    </a>
                </th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                foreach (var contato in Model)
                {
                    <tr>
                        <td>@contato.Nome</td>
                        <td>@contato.Celular</td>
                        <td>@contato.Email</td>
                        <td>@contato.Categoria</td>
                        <td>
                            <div class="d-flex flex-row justify-content-center"
                                 style="gap: 8px; min-width: 120px; width: 100%; max-width: 200px;">
                                <a asp-controller="Contato" asp-action="Editar" asp-route-id="@contato.Id"
                                   class="btn btn-outline-dark btn-sm rounded-pill py-1 text-center btn-custom"
                                   style="width: 100%;">Editar</a>

                                <form asp-controller="Contato" asp-action="ApagarConfirmacao" asp-route-id="@contato.Id" method="get" style="width: 100%;">
                                    <button type="submit"
                                            class="btn btn-outline-danger btn-sm rounded-pill py-1 text-center"
                                            style="border: 1px solid #dc3545; font-weight: bold; width: 100%;">
                                        Apagar
                                    </button>
                                </form>
                            </div>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="5" class="text-center">Nenhum Contato Encontrado</td>
                </tr>
            }
        </tbody>
    </table>
</div>
