@model List<ContatoModel>

<script src="~/Scripts/Index.js"></script>
@{
    ViewData["Title"] = "Listagem de contatos";
}
<div class="text-center">
    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a class="btn btn-primary" role="button" asp-controller="Contato" asp-action="Criar"> Adicionar novo contato</a>
    </div>

    <br>

    @if(TempData["MensagemSucesso"] != null)
    {
        <div class="alert alert-success" role="alert">
            <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
            A simple success alert—check it out!
            @TempData["MensagemSucesso"]
        </div>
    }

    @if (TempData["MensagemErro"] != null)
    {
        <div class="alert alert-danger" role="alert">
            <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
            A simple danger alert—check it out!
            @TempData["MensagemErro"]
        </div>
    }

    <br />


    <div class="text-center" style="font-family: Courier, monospace;">

        <h1 class="display-4">Listagens de contatos</h1>

    </div>



    <table class="table" id="table-contatos">
        <thead>
            <tr>
              @*   <th scope="col">#</th> *@
                <th scope="col">NOME DO TIME</th>
                <th scope="col">E-MAIL</th>
                <th scope="col">CELULAR</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @if(Model != null && Model.Any())
            {
                foreach (ContatoModel Contato in Model)
                {
                    <tr>
               @*          <th scope="row">@Contato.Id</th> *@
                        <td>@Contato.Nome</td>
                        <td>@Contato.Email</td>
                        <td>@Contato.Celular</td>
                        <td>
                            <div class="btn-group" role="group">
                                <a role="button" class="btn btn-primary" asp-route-id="@Contato.Id" asp-controller="Contato" asp-action="Editar">Editar</a>
                                <a role="button" class="btn btn-danger" asp-route-id="@Contato.Id" asp-controller="Contato" asp-action="ApagarConfirmacao">Apagar</a>
                            </div>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr class="odd"><td valign="top" colspan="5"> Nenhum Contato Encontrado</td></tr>
            }

        </tbody>
    </table>


</div>


