@using SisºFut_SistemaOrganizacionalJogosdeFutsal.Enums
@model UsuarioModel
@{
    ViewData["Title"] = "Criar Usuario";
}
<div class="text-center">

    <h1 class="display-4">Cadastrar Usuario</h1>

</div>


<form asp-controller="Usuario" asp-action="Criar" method="post">
    <div class="col-sm-12 col-md-4 col-md-offset-4" style="border: 2px solid #ccc; padding: 20px; margin: auto; border-radius: 10px;">
        <div class="form-group">
            <label for="nome">Nome</label>
            <input type="text" asp-for="Name" class="form-control" placeholder="Digite o nome">
            @Html.ValidationMessageFor(x => x.Name)
        </div>

        <div class="form-group">
            <label for="email" class="form-label">E-mail</label>
            <input type="text" asp-for="Email" class="form-control" placeholder="Digite o email">
            @Html.ValidationMessageFor(x => x.Email)
        </div>

        <div class="form-group">
            <label for="nome" class="form-label">Login</label>
            <input type="text" asp-for="Login" class="form-control" placeholder="Digite o Login">
            @Html.ValidationMessageFor(x => x.Login)
        </div>

        <div class="form-group">
            <label for="name" class="form-label">Perfil</label>

            <select asp-for="Perfil" class="form-control">
                <option selected="">Selecione</option>
                <option value="@PerfilEnum.Admin">Administrador</option>
                <option value="@PerfilEnum.Padrao">Padrao</option>
            </select>

            @Html.ValidationMessageFor(x => x.Perfil)
        </div>

        <div class="form-group">
            <label for="name" class="form-label">Senha</label>
            <input type="password" asp-for="Senha" class="form-control" placeholder="Digite a Senha">
            @Html.ValidationMessageFor(x => x.Senha)
        </div>

        <br>

        <a class="btn btn-secondary" asp-controller="Usuario" asp-action="Index" role="button">Voltar</a>
        <button type="submit" class="btn btn-primary">Adicionar</button>

    </div>
</form>

